NEXT_PUBLIC_SITE_URL=https://teamrad.gg

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
